* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    background: #b5c8eb;
    background: -webkit-linear-gradient(to right, #a7bfe8, #bdc9df);
    background: linear-gradient(to right, #a7bfe8, #bdc9df);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-container {
    width: 600px;
    height: 75%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    overflow: auto;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header input {
    border: none;
    border-radius: 30px;
    background-color: #eee;
    padding: 0.5rem 1rem;
    outline: none;
}

header button {
    border: none;
    background: transparent;
    color: #aaa;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.fav-container {
    padding: 0.25rem 1rem;
    text-align: center;
    background: rgb(243, 240, 243, 0.5);
}

.fav-meals {
    display: flex;
    padding: 0;
    overflow: auto;
}

.fav-meals li {
    position: relative;
    width: 85px;
    margin: 5px;
    list-style-type: none;
}

.fav-meals li .btn {
    background: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    top: -0.5rem;
    right: -0.5rem;
    opacity: 0;
    color: red;
    font-size: 1.2rem;
}

.fav-meals li .btn:hover {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid white;
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.fav-meals li span {
    font-size: 0.8rem;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
}

.meal {
    margin: 1rem;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 10px;
    background: white;
    padding: 0.25rem 0.5rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: orangered;
}